.MuiButton-label {
  color: white;
}
.dashboard {
  margin: 50px 100px auto 250px !important;
}
.compo {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.piechart {
  align-content: flex-start;
}
.clock {
  align-content: flex-end;
}